@charset "UTF-8";
.partner-section {
    background-color: #0780a1;
    padding: 40px 20px;
    text-align: center;
}


.feature-image {
    width: 100%;
    max-width: 90%;
    height: auto;
    border-radius: 8%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


.internship-info {
    flex: 1 1 100%;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(to bottom, white 0%, #e0e0e0 100%);
    padding: 20px;
    border-radius: 8px;
}

.internship-info h1 {
    color: black;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.internship-info p {
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: 400;
}
footer {
    background-color: #0780a1;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav.horizontal {
        flex-direction: column;
    }

    nav.horizontal ul {
        display: none;
    }

    .feature-image {
        max-width: 100%;
    }

    main {
        padding-top: 150px;
    }

    a#navicon {
        display: block;
    }

    /* This placeholder rule does not provide true toggle functionality */
    a#navicon:hover + ul, header nav ul:hover {
        display: block;
    }
}
